@font-face {
  font-family: Graphik;
  font-weight: normal;
  src: url('../../uploads/2016/10/graphik/Graphik-Regular-Web.woff2');
}

@font-face {
  font-family: Graphik;
  font-weight: bold;
  src: url('../../uploads/2016/10/graphik/Graphik-Medium-Web.woff2');
}
