@font-face {
  font-family: Mariupol;
  font-weight: normal;

  src: url('assets/fonts/mariupol/Mariupol-Regular.woff') format('woff');
}

@font-face {
  font-family: Mariupol;
  font-weight: bold;

  src: url('assets/fonts/mariupol/Mariupol-Medium.woff') format('woff');
}
