.small {
  @include font-size( 0.875 ); // 14
}

.text-muted {
  color: #909090;

  a {
    &,
    &:visited,
    &:hover,
    &:focus {
      color: $color__text-secondary;
      text-decoration: none;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.text-caption {
  font-size: 15px;
}
