.row-posts-cards {

  .col-post {
    margin-bottom: 35px;
  }
}

.cards-entry {

  .hentry {
    margin-bottom: 0 !important;
  }

  &-meta {

    a {
      text-decoration: none;

      &, &:visited {
        color: $color__text;
      }

      &:hover {
        color: $color__link-hover;
      }
    }

    &-author {

    }

    &-category {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
      line-height: 1;
      letter-spacing: .1em;

      @include text-truncate();
    }
  }
  
  &-header {
    margin-top: 11px;
    margin-bottom: 13px;
  }

  &-title {
    font-size: 24px;
    line-height: 1.24;
    margin: 0;

    a {
      display: block;
      text-decoration: none;

      &, &:visited {
        //color: $color__text;
        color: #616161;
      }

      &:hover {
        color: $color__link-hover;
      }
    }
  }

  &-excerpt {
    font-size: 16px;
    line-height: 1.3125;
    color: #9a9a9a;

    p {
      margin-bottom: 0;
    }
  }

  &-header-excerpt {

    @media screen and ( min-width: $md ) {
      height: 168px;
      overflow: hidden;
      position: relative;

      &:after {
        display: block;
        content: '';

        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        
        box-shadow: 0px -8px 38px 30px $color__background-body;
      }
    }
  }
}

.maker-mariupol-featured {

  .entry-thumbnail {
    margin-bottom: 0;
  }

  .row-featured-post {
    position: relative;
  }
  
  .col-wide-thumb {
    
  }
  
  .col-post-credits {
    align-self: center;

    /*&:before,
    &:after {
      position: absolute;
      height: 100px;
      width: 3000px;
      content: '';
      display: block;
      background-color: $color__text;
    }*/
  }
}