.cards-entry {

  &-thumbnail {
    margin-bottom: 16px;

    .embed-responsive-item {
      background-color: #e5e5e5;
    }

    &-link {
      display: block;
    }

    a {
      &:hover,
      &:focus {
        .embed-responsive-item {
          background-color: #eaeaea;
        }
      }
    }
  }

  &-meta {

    a {
      text-decoration: none;

      &, &:visited {
        color: $color__text;
      }

      &:hover {
        color: $color__link-hover;
      }
    }

    &-author {

    }

    &-category {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
      line-height: 1;
      letter-spacing: .1em;

      @include text-truncate();
    }
  }
  
  &-header {
    margin-top: 11px;
    margin-bottom: 13px;
  }

  &-title {
    font-size: 24px;
    line-height: 1.24;
    margin: 0;

    a {
      display: block;
      text-decoration: none;

      &, &:visited {
        //color: $color__text;
        color: #616161;
      }

      &:hover {
        color: $color__link-hover;
      }
    }
  }

  &-excerpt {
    font-size: 16px;
    line-height: 1.3125;
    color: #9a9a9a;
  }
}
