/* Footer */

.site-footer {
	@extend .clear;

  	background-color: #e5e5e5;
  	color: #909090;

  	padding: 42px 0;

  	@media screen and ( min-width: $md ) {
	  padding-bottom: 100px;
	}

  	.site {
	  	background-color: transparent;
	}
}

.site-info {
	display: block;
	margin-bottom: 1.5em;
	@media screen and ( min-width: $xs ) {
		@include span( 5 last );
		text-align: right;
	}
}

.site-footer-logo-wrapper {
  display: block;
}

.site-footer-logo {
  
  img {
	opacity: .27;
	width: auto;
	height: 60px;
  }
}

a.site-footer-logo {
  &:hover,
  &:focus {
	img {
	  opacity: .37;
	}
  }
}

.site-info-legal-notes {
  font-size: 13px;
  line-height: 1.39;
}

.site-info-copyright {
  font-size: 13px;
  line-height: 1.39;

  @media screen and ( max-width: $sm ) {
	margin-top: 20px;
  }

  .admin-email {
	display: block;

	a {
	  color: inherit;
	  text-decoration: underline;

	  &:hover,
	  &:focus {
		text-decoration: none;
	  }
	}
  }
}
