/* Post Thumbnail */

.post-thumbnail {
	@extend .clear;
	display: block;
	margin: 0 0 2.25em;
	@media screen and ( min-width: $sm ) {
		margin: 0 0 3em;
	}
	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.entry-thumbnail {
  margin-bottom: 16px;

  body.single & {
	margin-bottom: 34px;
  }

  .embed-responsive-item {
	background-color: #e5e5e5;
  }

  &-link {
	display: block;
  }

  a {
	&:hover,
	&:focus {
	  .embed-responsive-item {
		background-color: #dcdcdc;
	  }

	  .wp-post-image {
		filter: brightness(85%);
	  }
	}
  }
}